managment/dict_modifier.py
managment/map_test.py
managment/__pycache__/map_test.cpython-311.pyc
resources/__pycache__/__init__.cpython-311.pyc
resources/__pycache__/map.cpython-311.pyc
managment/__init__.py
managment/test.md
